@using VCubWatcher.Models

@{
    ViewBag.Title = "Liste des stations";

    var stations = ViewData["Stations"] as List<Station>;
    stations.Sort((s1, s2) => s1.Name.CompareTo(s2.Name));
}

<head>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style type="text/css">
        #flex { /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<h2>Liste</h2>

<ul class="list-group">
    @Html.Label("Stations list")
    @using (Html.BeginForm("HandleButtonClick", "Station"))
    {
        foreach (var station in stations)
        {
            <li class="list-group-item">
                <div class="card">
                    <div class="card-header" id="flex">
                        <h4><u>@station.Id - @station.Name</u></h4>
                        <button class="btn"><i class="far fa-heart"></i></button>
                    </div>
                    <div class="card-body">
                        <p class="list-group-item">Nombre de vélos électriques: @station.ElectricBikeCount</p>
                        <p class="list-group-item">Nombre de vélos total : @station.BikeCountTotal</p>
                        <p class="list-group-item">Emplacement libre : @station.SlotCount</p>
                    </div>
                </div>
            </li>
        }
    }
</ul>